<nav class="navbar navbar-default">
  <div class="container">
    <ul class="nav navbar-nav navbar-left">
      <li>
        <%= link_to root_path  do %>
          <i class="fa fa-home " aria-hidden="true"></i>
        <% end %>
      </li>
      <li>
        <%= link_to "#" do %>
          <i class="fa fa-bell " aria-hidden="true"></i>
        <% end %>
      </li>
      <li>
        <%= link_to "#" do %>
          <i class="fa fa-envelope " aria-hidden="true"></i>
        <% end %>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li>
        <input class="search" type="text" placeholder="Search Twitter">
      </li>
      <li><%= link_to "Profile settings", edit_user_registration_path %></li>
      <li>
        <%= link_to "#" do %>
          <i class="fa fa-bolt " aria-hidden="true"></i>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
